body {
    background-color: #D7F5FF
}

#loading {
    width: 80px;
    /* gif画像の幅 */
    height: 80px;
    /* gif画像の高さ */
    margin: -68px 0 0 -68px;
    /* gif画像を画面中央に */
    padding: 20px;
    position: fixed;
    /* gif画像をスクロールさせない */
    left: 50%;
    /* gif画像を画面横中央へ */
    top: 50%;
    /* gif画像を画面縦中央へ */
}